.Home {
  display: block;
  
}

.card {
  width: 300px;
  margin-bottom: 10px;
  color: black;
  margin-top: 8em;
}

.row {
  color:white;
}

img {
  width: 250px;
}

.footer {
  text-align: center;
  display: block;
}

.totalMonetaryValue{
  display: inline-block;
  padding-left: 2em;
  padding-right: 2em;
}

.totalPointValue {
  display: inline-block;
  padding-left: 2em;
  padding-right: 2em;
}

.numberOfModels{
  display: inline-block;
  padding-left: 2em;
  padding-right: 2em;
}